/* Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background-colour: #548adb;
	--darker-background-colour: #10346b;
}

body {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 700;
	background-image: url(../src/assets/music_notes.png);
	background-color: var(--background-colour);
}

p {
	font-weight: 400;
	line-height: 1.6;
}
