/* Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--background-colour: #d3c4f7;
	--darker-background-colour: #5f527c;
}

body {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 700;
	background-color: var(--background-colour);
}
